<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/site.css" />
    <title>UIT commander</title>
    <script src="/js/JavaScript.js"></script>
    <meta charset="utf-8" />
    <meta name="author" content="Yousef Khalil" />
    <meta name="keywords" content="" />
    <meta name="description" content="Command site for User interface terminal" />
    <meta http-equiv="refresh" content="60" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>