body{
    
}

div.a {
    margin: 15% auto 25% auto;
    text-align: center;
    width: 25%;
    border-radius: 10%;
    border: 10px solid aqua;
    padding: 16px;
}


div.text {
    padding: 16px;
    display: block;
}

input{
    width: 100%;
    margin: 4% auto 4% auto;
}

button{

}