@page
@model WebApplication3.Pages.IndexModel
@{
}

<head>
    <style>
        body {
            background-color: blue;
        }
    </style>
</head>
<body>
    <h1>This is my first heading</h1>
    <p>This is the paragraph following my first heading</p>
    @while (1 == 1)
    {
        <p>@DateTime.Now</p>
    }
</body>
