@page
@model WebApplication3.Pages.IndexModel
@{
}

<html>

<head>
    <title>UIT-Terminal</title>
</head>

<body>
    <img src="https://i.ytimg.com/vi/RWSzNvrQsRU/maxresdefault.jpg">

</body>

</html>