@page
@model WebApplication3.Pages.IndexModel
@{
}

<h1>Click the button below</h1>
<div class="square"></div>
<button onclick="document.getElementById('task').innerHTML = poi()">Display the number 4</button>
<p id="task">what shows here</p>
<button onclick="document.getElementById('goat').innerHTML = b.fullname()">Click for goaty</button>
<p id="goat">Hes here</p>
<input type="text" id="text" value="" />
<button onclick="document.getElementById('r').innerHTML = subby()">submit</button>
<script>
    function subby() {
        return document.getElementById('text').value;
    }
</script>
<p id="r"></p>