@page
@model WebApplication3.Pages.IndexModel
@{
}

<div class="p1-b">
    blackfr<strong style="color:lawngreen">UIT</strong>
</div>

<div class="p1-a">
    Hello, welcome back.
    <div class="text">
        <label for="uname"><b>Username</b></label>
        <input type="text" name="uname" placeholder="Enter username" value="" required />
        <label for="psw"><b>Password</b></label>
        <input type="password" name="psw" placeholder="Enter password" value="" required />
        <button type="button" onclick="document.getElementById('authenticate').innerHTML = verify(document.getElementsByName('uname')[0].value, document.getElementsByName('psw')[0].value)">Submit</button>
        <p id="authenticate"></p>
    </div>
</div>

<canvas id="canvas">First Canvas</canvas>