@page
@model WebApplication3.Pages.IndexModel
@{
}

<html>
<head>
    <title>UIT commander</title>
    <link rel="stylesheet" href="/css/site.css"/>
    <script src="/js/jsconfig.js"></script>
</head>
<body>
    <h1>Click the button below</h1>

    <button onclick="document.getElementById('task').innerHTML = poi()">Display the number 4</button>
    <p id="task">what shows here</p>
</body>
</html>