@page
@model WebApplication3.Pages.IndexModel
@{
}

<html>

<head>
    <title>UIT-Terminal</title>
</head>

<body>
    <h1>Test 1:</h1>
    <h2>This will demo the <strong>check boxes</strong>.</h2>
    <input type="checkbox" name="Check" value="1" />
    <br />
    <input type="checkbox" name="Check" value="2" />
    <br />
    <input type="checkbox" name="Check" value="3" />
    <br />
    <h2>This will test the <strong>radio buttons</strong>.</h2>
    <p>One at a time.</p>
    <input type="radio" name="radio1" value="1" checked />
    <br />
    <input type="radio" name="radio1" value="2" />
    <br />
    <input type="radio" name="radio1" value="3" />
    <br />
    <p>This will show 2 sets, each independent.</p>
    <input type="radio" name="radio2_1" value="1" checked />
    <input type="radio" name="radio2_1" value="2" />
    <input type="radio" name="radio2_1" value="3" />
    <br />
    <input type="radio" name="radio2_2" value="1" checked />
    <input type="radio" name="radio2_2" value="2" />
    <input type="radio" name="radio2_2" value="3" />
    <h2>Pull down menu</h2>
    <select name="select"></select>
    <h2>text input</h2>
    <input type="text" name=text size=10 />
    <h2>submit button</h2>
    <h2>image submit</h2>
    <h2>reset button</h2>
</body>

</html>